.main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.starrating{
    height: 150px;
    width: 500px;
    align-items: center;
    border: 2px groove black;
    display: flex;
    justify-content: center;
}
.active{
    color: #fff700;
}
.inactive{
    color: #000;
}